<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/img/team/sayed.jpg" class="img-circle" height="200" width="200" alt="Sayed Ibrahim Hashimi">
                    <h4>Sayed Ibrahim Hashimi</h4>
                    <p class="text-muted">Co-Founder</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-external-link"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/sayedihashimi"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/img/team/mads.jpg" class="img-responsive img-circle" height="200" width="200" alt="Mads Kristensen">
                    <h4>Mads Kristensen</h4>
                    <p class="text-muted">Co-Founder</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-external-link"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/madskristensen"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/img/team/johnpapa.png" class="img-responsive img-circle" height="200" width="200" alt="John Papa">
                    <h4>John Papa</h4>
                    <p class="text-muted">Contributor</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-external-link"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/johnpapa"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/img/team/brady.jpg" class="img-responsive img-circle" height="200" width="200" alt="Brady Gaster">
                    <h4>Brady Gaster</h4>
                    <p class="text-muted">Contributor</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-external-link"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/bradygaster"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/img/team/mike.jpg" class="img-responsive img-circle" height="200" width="200" alt="Mike Lorbetske">
                    <h4>Mike Lorbetske</h4>
                    <p class="text-muted">Contributor</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-external-link"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/mlorbetske"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/img/team/daniel.jpg" class="img-responsive img-circle" height="200" width="200" alt="Daniel Sack">
                    <h4>Daniel Sack</h4>
                    <p class="text-muted">Contributor</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-external-link"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/DanielTheCoder"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/img/team/naim.jpg" class="img-responsive img-circle" height="200" width="200" alt="Naim Hammadi">
                    <h4>Naim Hammadi</h4>
                    <p class="text-muted">Contributor</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-external-link"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/nhammadi"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/img/team/tyler.jpeg" class="img-responsive img-circle" height="200" width="200" alt="Tyler Hughes">
                    <h4>Tyler Hughes</h4>
                    <p class="text-muted">Contributor</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-external-link"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/RandomlyKnighted"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>