body {
    max-width: 970px;
    margin: 0 auto;
    font: 1.3em/1.4 'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
    padding: 0 1em;
}

img {
    max-width: 100%;
    border: none;
}

header {
    margin: 1em 0;
    position: relative;
    padding-left: 170px;
}

    header #logo {
        position: absolute;
        left: 1em;
        top: 0;
    }

    header h1 {
        font-size: 3em;
        margin: 0;
    }

    header p {
        margin-top: .3em;
        font-size: 1.5em;
    }

#social {
    text-align: center;
    margin-top: 20px;
}

#forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

iframe {
    width: 514px;
    height: 320px;
    display: block;
    margin: 2em auto 0 auto;
}

section {
    margin: 3em 0;
    clear: both;
}

    section article {
        margin: 2em 0 2em 1em;
    }

    section ul {
        list-style: none;
        padding-left: 1em;
    }

        section ul li ul {
        }

footer {
    margin-top: 5em;
    text-align: center;
}

#inventory > ul {
    float: left;
    font-size: .8em;
}

.version
{
font-weight: 900;
font-size: large;
line-height: 2em;
}