<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webPages:Version" value="2.0"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".vsix" mimeType="application/octed-stream"/>
    </staticContent>
    <defaultDocument>
      <files>
        <remove value="index.html"/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="feed" stopProcessing="false">
          <match url="^feed/?$" ignoreCase="true"/>
          <action type="Rewrite" url="/feed/feed.ashx"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>